
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">¡Hola!</h1>
    <p>Este es tu perfil, espero pases buen día</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
    </p>
  </div>
</div>