<section class="row mt-5">
  <div class="col">
    <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook">Nuevo tributo</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Otros datos</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clase</th>
          <th scope="col">Valor</th>
          <th scope="col">Descripción</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{book.titulo}}</td>
          <td>{{book.otros_datos}}</td>
          <td>{{book.Tipo}}</td>
          <td>{{book.clase}}</td>
          <td>{{book.valor }}</td>
          <td>{{book.descripcion}}</td>
          <td *ngIf="book.userUid == userUid || isAdmin == true; else noOwner">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" (click)="onPreUpdateBook(book)">Actualizar</button>
          </td>
          <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Actualizar</button>
            </td>
          </ng-template>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeleteBook(book.id)">Eliminar</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Eliminar</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal [userUid]="userUid"></app-modal>