<div class="modal fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ !this.dataApi.selectedBook.id ? 'Nuevo tributo' : 'Actualizar tibuto'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formBook" #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)">
          <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedBook.id">
          <input type="hidden" name="userUid" [value]="userUid">
          <div class="form-group">
            <label for="titulo" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="this.dataApi.selectedBook.titulo">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Tipo">Tipo</label>
              <select name="Tipo" class="form-control" [(ngModel)]="this.dataApi.selectedBook.Tipo">
                <option value="Alumbrado">Alumbrado</option>
                <option value="Aseo">Aseo</option>
                <option value="Barrido">Barrido</option>
                <option value="Pavimentación">Pavimentación</option>
                <option value="Pagos_mensuales">Pagos mensuales</option>
                <option value="Plan_de_pago">Plan de pago</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="clase">Clase</label>

              <select name="clase" class="form-control" [(ngModel)]="this.dataApi.selectedBook.clase">
                <option value="Alumbrado">Métrica</option>
                <option value="Aseo">Valor</option>
                <option value="Barrido">Otros servicios</option>
                
              </select>

              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="otros_datos">Otros datos</label>
              <input type="text" name="otros_datos" class="form-control" placeholder="Otros datos" [(ngModel)]="this.dataApi.selectedBook.otros_datos">
            </div>
            
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="valor">Valor</label>
              <input type="text" name="valor" class="form-control" placeholder="$0.00" [(ngModel)]="this.dataApi.selectedBook.valor">
            </div>
          
          </div>
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripción:</label>
            <textarea class="form-control" name="descripcion" [(ngModel)]="this.dataApi.selectedBook.descripcion"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar tributo</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>